body{
    background-color: rgb(87, 85, 85);
}
header{
    height: 100px;
    background-color: rgb(87, 84, 84);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.menu-bar
{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: roboto;
    font-size: 24px;
    column-gap: 50px;
    color:aliceblue;
    padding: 550px;
}
.titulo
{
    font-weight: bold;
    font-family: Roboto;
    font-size: 36px;
}
.info
{
    font-size: 18px;
    
}